.cell, .cellDisabled {
  width: 10rem;
  height: 10rem;
  position: relative;
}

.cell {
  background: #FAFAFA;
  border: 2px solid #F0F0F0;
}

.cellDisabled {
  background: #EAEAEA;
}

.cellDisabled::after {
  border: 2px solid #E0E0E0;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  content: '';
}

.day {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #636363;
  font-family: sans-serif;
  font-size: 12px;
}
